In [16]:
import pandas as pd
import numpy as np

In [17]:
data = pd.read_csv('network_nodes.csv')
data.head()

        id             label        x_fa2       y_fa2
0  8500010         Basel SBB -1670.112915 -969.267761
1  8500016  Basel St. Johann -1695.203003 -977.505127
2  8500020           Muttenz -1680.089722 -971.303772
3  8500021          Pratteln -1694.761597 -960.146729
4  8500023           Liestal -1618.025269 -961.962708

In [18]:
stops = pd.read_csv('stops.csv')
stops.head()

   stop_id       stop_name   stop_lon   stop_lat
0  8500010       Basel SBB  2611363.0  1266310.0
1  8508319            Horw  2666022.0  1207746.0
2  8502273      Bremgarten  2668595.0  1244915.0
3  8502274         Zufikon  2669212.0  1245040.0
4  8502275  Widen Heinrüti  2669215.0  1246079.0

In [19]:
merged_data = pd.merge(data, stops, left_on='label', right_on='stop_name')
merged_data.drop(columns=['stop_id', 'stop_name'], inplace=True)
merged_data.rename(columns={'stop_lon': 'x_geo', 'stop_lat': 'y_geo'}, inplace=True)
merged_data.head()

        id             label        x_fa2       y_fa2      x_geo      y_geo
0  8500010         Basel SBB -1670.112915 -969.267761  2611363.0  1266310.0
1  8500016  Basel St. Johann -1695.203003 -977.505127  2610076.0  1268853.0
2  8500020           Muttenz -1680.089722 -971.303772  2615758.0  1264783.0
3  8500021          Pratteln -1694.761597 -960.146729  2618994.0  1263578.0
4  8500023           Liestal -1618.025269 -961.962708  2622064.0  1259341.0

In [20]:
# write to csv with header
merged_data.to_csv('network_nodes_with_coordinates.csv', index=False)